body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar-nav {
    position: absolute;
    right: 0;
    margin-right: 20px;
}




@media screen and (max-width:990px) {
    .navbar-nav  {
        position: static;
        margin: 0;
    }

}