body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar {
    justify-content: space-around;
}

.nav-button {
    display: none;
}



@media screen and (max-width:1000px) {
    #nav-desktop {
        display: none;
    }
    .navbar {
        justify-content: space-between;
        padding: 0 20px;
    }

    #logo {
        font-size: 18px;
        padding-left: 20px;
        padding-top: 10px;
    }

    .nav-button {
        display: inline-block;
    }

   
}