@import url('https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@500&family=Montserrat:wght@400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: monospace;
    background-color: #eaeaea;
    padding: 5% 0 10% 0;
}


body header {
    width: 100%;
    height: 54px;
    padding: 5px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    border-bottom: 1px grey solid;
    z-index: 80;
}
.container {
  margin-top: 10vh;
}

.logo {
    font-size: 24px;
    color: blue;
    display: flex;
}

.logo p {
    color: grey;
    font-size: 20px;
    padding: 4px;
}

header nav {
    width: 100%;
    height: auto;
    padding: 0 5%;
}

.list-nav {
    display: flex;
    list-style: none;
    justify-content: end;
    gap: 2%;
}

.link-nav {
    text-decoration: none;
    padding: 0 5%;
    color: black;
    width: 100%;
    font-size: 22px;
}

.link-nav:hover {
    color: #eaeaea;
    background-color: blue;
}

.btn-nav {
    background-color: transparent;
    border: none;
    color: black;
    font-size: 30px;
    margin-right: 20px;
    display: none;
}

.sidebar {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: #eaeaea;
    z-index: 800;
    text-align: left;
    animation: 0.7s move;
    top: 0;
}



.cari {
    position: fixed;
    height: 30px;
    width: 200px;
    z-index: 99;
    right: 0;
    animation: 1s cari;
    margin-top: 60px;
    margin-right: 40px;

}

.input-cari {
    width: 100%;
    height: 30px;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 3px;
    background-color: #eaeaea;
    border: none;
    box-shadow: 1px 1px 1px black;
    text-align: center;
}

.cari-mobile {
    display: none;
}
.closeup {
  animation: closeup 3s;
  transition: 1s;
}

/* animasi */
@keyframes closeup {
  to {
    transform: translateY(-200%);
  }
}
@keyframes move {
    from {
        left: -120%;
    }
    to {
        left: 0%;
    }
  }

  @keyframes cari {
    from {
        left: -120%;
    }
    to {
        left: 80%;
    }
  }

  @keyframes cariclose {
    from {
        right: 80%;
    }
    to {
        right: -120%;
    }
  }

/* resvonsive */

@media screen and (max-width: 870px) {
    header nav {
        display: none;
    }

    .btn-nav {
        display: inline-block;
    }

    .link-side {
        text-decoration: none;
        padding: 10px;
        margin: 10px;
        color: black;
        font-size: 25px;
        display: inline-block;
    }

    .link-side:hover {
        color: #eaeaea;
        background-color: blue;
    }

    .caro-mobile{
        display: inline-block;
    }
}


/* chat */

p {
  margin: 0;
}
.chat {
  max-width: 90%;
  min-width: 30%;
}
.chat .content {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.chat .content .message {
  overflow: scroll;
  background-color: #009bff;
  color: #fff;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 2% 3%;
  width: 100%;
  font-size: .8rem;
  font-family: 'Montserrat', sans-serif;
}
.chat .content .author {
  font-size: .9rem;
  font-weight: 500;
  font-family: 'Anek Telugu', sans-serif;
  display: flex;
  align-items: center;
  gap: 2%;
}
.chat .content .author .avatar {
  width: 2.5em;
  height: 2.5em;
  border-radius: 5px;
}
.chat .date {
  font-size: .6rem;
}
.chat.self .content .author {
  flex-direction: row-reverse;
}
.chat.self {
  /* margin-left: calc(100% - 80%);*/
  align-self: end;
  justify-content: end;
  align-items: end;
  text-align: end;
}
.chat.other {
  align-self: start;
  justify-content: start;
  align-items: start;
  text-align: start;
}

.input-field textarea {
  height: 5vh;
  max-height: 20vh;
}

#chat-form button {
  height: 40px;
}